<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Pictures of the day</title>
  </head>

  <body>
    <main class="container">
      <h1 class="wordOfDay">
        Word of the day: <br />
        <span class="wordOfDay__word"><%= wordOfDay %></span>
      </h1>

      <a class="picOfDay" href="<%= directLink %>" target="”_blank”"
        ><img class="picOfDay__pic" src="../public/images/picofday.png" alt=""
      /></a>

      <h3 class="artistLink">
        User: <span class="artistLink__user"> <%= user %></span>
      </h3>

      <p class="updateTime">Page updates every midnight GMT</p>
    </main>
  </body>
</html>
